<h1>Hi, <%= current_user.first_name%></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% @blogs.each do |blog| %>
  <p><%= blog.title %> -- <%= blog.body %></p>
<% end %>
<% @skills.each do |skill| %>
  <p><%= skill.title %> -- <%= skill.percent_utilized %></p>
<% end %>

<%= @blogs.inspect %>